*{
  margin:0;
 
}

body {
  background-color: #308834 ;
  
}

header {
  font-size: 50px;
  color: gold;
  font-weight: bold;
  display: block;
  text-align: center;
  height: 15vh ; 

  /* margin-top: 20px; */
  /* margin-bottom: 10px; */
  
}
main{
  /* float: left; */
  height: 75vh;
  display: flex;
  flex-direction: row;
}
footer{
  height: 15vh; 
}

#playerContainer{
  margin:0 0 10px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #1A4A1C;
}

#cpuContainer{
  margin:0 0 10px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: rgb(5, 112, 8);
}

.playerDealtCards{
  height: 200px;
  width: 125px;
  border: 1px solid gray;
  border-radius: 12.5px;
  background-color:grey;
  box-shadow: 2px 2px 1px #302e2e;
  /* float: right; */
}

.cpuDealtCards{

  height: 200px;
  width: 125px;
  border: 1px solid gray;
  border-radius: 12.5px;
  background-color:grey;
  box-shadow: 2px 2px 1px #302e2e;
  
}
aside {
  /* width:10vw; */
  display: flex;
  justify-content: space-between;
  align-items: end;
  border: 1px black solid;
  padding: 5px;
  width: 25vw;
}

section{
  width: 70vw;
}

#card-containerP{

  /* position: absolute;
  top: 200px;
  left: 200px;
  border: 3px; */
 
}
#card-containerC{
  /* position:right;
  top: 400px;
  left: 200px;
  border: 3px; */
}